body {
    margin: 0;
    background: linear-gradient(90deg,#071952 0%, #088395 100%, #35A29F 100%);
    font-family: monospace, sans-serif;
    color: #0d5370;
}

.container {
    background: #F2F7A1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 85%;
    max-width: 800px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 9.75% auto;
}

.heading {
    font-size: 32px;
}

.temp-container {
    width: 100%;
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

input {
    width: 60%;
    font-family: monospace;
    padding: 5px;
    outline: none;
    background: #57b0be;
    border-color: #003239;
    color: black;
    font-size: 18px;
}

input::placeholder {
    color: black;
    filter: opacity(0.6);
}

footer{
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 6px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Responsive CSS */
@media (min-width: 600px) {
    .container {
        width: 70%;
    }

    input {
        width: 50%;
    }
}

@media (min-width: 900px) {
    .container {
        width: 60%;
    }

    input {
        width: 40%;
    }
}
